language: sh
env:
  matrix:
    - SHELL=bash
    - SHELL=dash
    - SHELL=ksh
    - SHELL=zsh
matrix:
  allow_failures:
    - env: SHELL=zsh
script:
  - time $SHELL bin/shpec shpec/shpec_shpec.sh
cache: apt
before_install:
  - >
    if ! type $SHELL > /dev/null; then
      sudo apt-get update -qq &&
      sudo apt-get install -y $SHELL
    fi
